@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1681604546401') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\f01af";
}

.icon-weixin:before {
  content: "\e631";
}

.icon-instagram:before {
  content: "\e87f";
}

.icon-linkedin:before {
  content: "\e763";
}

.icon-facebook:before {
  content: "\e6ee";
}

.icon-bilibili-line:before {
  content: "\e69e";
}

.icon-youtube:before {
  content: "\e97d";
}

.icon-whats-app:before {
  content: "\e983";
}

